.style_login{
    -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-size: cover;
}
.stylr_button{    
    -fx-text-fill: red;
}
.style_button2{
    -fx-background-color: #ff3333;
     -fx-text-fill: #fff;
     -fx-font-size: 24;
    -fx-font-weight: normal;
}
.style_menu{   
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}
.style_textField{
    -fx-background-color: #AFEEEE;
    -fx-text-fill: #000;
    -fx-font-size: 18px;
    
}
.style_saveButton{
    -fx-background-color: #20B2AA;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    opacity: 1;
}
.style_label{
    -fx-text-fill: #000;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
.style_panel{
    -fx-background-image: url("image/numero.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;   
}
.style_pane2{
    -fx-background-color:#A52A2A;  
    -fx-opacity: 0.5;
}
.style_small_label{
     -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
.username{
    -fx-background-image: url("image/username.png"); 
    -fx-background-repeat: no-repeat;
}
.password{
    -fx-background-image: url("image/password.png"); 
    -fx-background-repeat: no-repeat;
}
.style_combo{
    -fx-background-color: transparent;
    -fx-text-fill: lightseagreen;
    -fx-font-size: 14px;
}
.style_hamburger_button{
    -fx-border-radius: 10px;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}
.style_hamburger_button:hover{
    -fx-background-color: #5F9EA0;
    -fx-text-alignment: center;
}
.style_hamburger StackPane{
    -fx-background-color: #fff;
}
.style_dashboardButton{
    -fx-border-radius: 20px
}
.style_dashboardButton:hover{
   -fx-background-color: #5F9EA0;
   -fx-text-fill:#fff;
}
.style_hamburger_button2{
    -fx-border-radius: 10px;
    -fx-text-fill: #000;
    -fx-background-color: transparent;
}
.style_hamburger_button2:hover{
    -fx-background-color: #5F9EA0;
    -fx-text-fill: #fff;
}